*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}body{
    font-family: montserrat;
    background-color: brown;
    min-height: 100vh;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: relative;
   
}.logo{
    color: rgb(223, 126, 126);
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight:bold;
}nav ul{
    float: right;
    margin-right: 20px;
    
}nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 6px;
}nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}a:hover{
    background: #1b9bff;
    transition:.5s
}.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}#check{
    display: none;
}@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }nav ul li a{
        font-size: 16px;
    }
}@media (max-width:858px){
    .checkbtn{
        display: block;
    }ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }nav ul li a{
        font-size: 20px;
    }a:hover{
        background: none;
        color: #0082e6;
    }#check:checked ~ ul{
        left:0;
    }

}



#heading {
    background-image: url(./image/net.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}.back{
   padding: 100px;
    height: 100vh;
    text-align: center;
}.text h1{
   /* line-height: 150px; */
   color: #fff;
   background-color: #0d0e55;
}

.title {
    color: #ffffff;
    margin-top: 4.2%;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 32px;
}.cards {
    background-color:#0e84dfbb;
}.card {
    height: 100%;
    width: 100%;
    /* background-color: #6762b3; */
    color:#fff;
    /* box-shadow: 0 2px 10px #27208fe6; */
    /* border-radius: 10px; */
}.card-body{
    background-color: #0d0e55;
}.head{
    background-color:  #0d0e55;
    color: #fff;
    padding: 30px;
    text-align: center;
    width: 100%;
}.card img {
    height: 200px;
}.login-btn {
    width: 80px;
    height: 45px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: rgb(0, 0, 0);
    background: #ad5389;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #6ea97f98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}#login-header {
    background-color: #1f1e1e;
    width: 100%;
    height: 100%;
}
card-img-top {
    width: 100px;
    height: 10px;
}


footer{
    padding: 40px;
    background: #1a1c1d;
    position: sticky;
    top: 100%;
}.footerContainer{
    text-align: center;
   
}.footerContainer a{
    padding: 0 25px;
    margin: 0 10px;
    font-size: 25px;
   border: 1px solid #ccc;
   color:  #0082e6;
   border-radius: 50%;
}.footerBottom{
    text-align: center;
    padding-top: 25px;  
}
@media (max-width:650px){
    .footerContainer a{
        padding: 0 5px;
        margin: 0 7px;
    }
}#fir-img {
    width: 100%;
    height: 70%;
}